---
import Base from '../layouts/Base.astro';
---

<Base>
	<p class="pt-4">404</p>
	<audio controls autoplay preload>
		<source src="https://organell.es/404.mp3" type="audio/mpeg"/>
		Your browser does not support the audio element.
	</audio>
</Base>