---
import Base from '../layouts/Base.astro';
---

<Base>
	<p class="py-4">404</p>
	<audio controls autoplay>
		<source src="https://oleaceae.saga-owl.ts.net/sound/404.mp3" type="audio/mpeg"/>
		Your browser does not support the audio element.
	</audio>
</Base>