---
import Base from '../layouts/Base.astro';
---

<Base>
	<p class="pt-4">404</p>
	<audio controls autoplay src="https://soundcloud.com/flowerstructure/flower-structure-fw2023?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" class="pt-4"></audio>
	<!-- <iframe class="pt-4 w-200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1670210193&color=%23000000&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> -->
</Base>