---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: About Me';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">
		I design beautiful, sturdy,<br>
		fun, useful, and truly personal<br>
		new mediums for computation.
	</p>
	<p class="pt-4">
		I’m an optimistic digital product designer<br>
		with a background in materials science,<br> 
		human factors research, and industrial design.
	</p>
	<p class="pt-4">
		I pay extraordinary attention to the grain<br>
		and <span class="italic">true nature</span> of the materials I work with.<br>
	</p>
	<p class="pt-4">I have impeccable taste in all things.</p>	
	<p class="pt-4">I know what the future holds.</p>	
	<p class="pt-6">*</p>
	<p class="pt-4 italic">Email: <a href="mailto:ed@tlon.io">ed@tlon.io</a></p>
	<p class="pt-4 italic">X: <a href="https://x.com/yokelisms" target="_blank">@yokelisms</a></p>
	<p class="pt-4 italic">Github: <a href="https://github.com/urcades" target="_blank">@urcades</a></p>
	<p class="pt-4 italic">Urbit: <a href="https://network.urbit.org/~fabled-faster" target="_blank">~fabled-faster</a></p>
	<p class="pt-4 italic"><a href="/doc.pdf" target="_blank"  >doc.pdf</a></p>
</Base>