---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: About Me';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">
		I've been designing beautiful,<br>
		fun, and truly personal <span class="italic">new computers</span>.
	</p>
	<p class="pt-4">
		I’m an optimistic digital product designer<br>
		with a background in materials science,<br> 
		human factors research, and industrial design.
	</p>
	<p class="pt-4">
		I possess a unique melange of professional capabilities,<br>
		I’ve experienced a wide range of operational contexts,<br>
		I’m fluent in a variety of design procedures,<br>
		and I have great taste in all things.<br>
	<p>
	<p class="pt-4">
		I find joy in designing software and hardware that gracefully<br>
		extends the capabilities of the human body.<br>
	<p>

	<p class="pt-6">*</p>
	<p class="pt-4">Email: <a class="italic" href="mailto:ed@tlon.io">ed@tlon.io</a></p>
	<p class="pt-4">X: <a class="italic" href="https://x.com/yokelisms" target="_blank">@yokelisms</a></p>
	<p class="pt-4">Are.na: <a class="italic" href="https://www.are.na/edouard-urcades/sketching" target="_blank">Édouard Urcades</a></p>
	<p class="pt-4">Github: <a class="italic" href="https://github.com/urcades" target="_blank">@urcades</a></p>
	<p class="pt-4">Urbit: <a class="italic" href="https://network.urbit.org/~fabled-faster" target="_blank">~fabled-faster</a></p>
	<!-- <p class="pt-4"><a class="italic" href="/doc.pdf" target="_blank">doc.pdf</a></p> -->
</Base>