---
import Base from "../layouts/Base.astro";
const pageTitle = "É. Urcades: About Me";
---

<style>
  br {
    display: inline;
  }
  @media screen and (max-width: 555px) {
    br {
      display: none;
    }
  }
</style>

<Base pageTitle={pageTitle}>
  <p>
    I’m an optimistic designer / artist<br />
    with a background in materials science,<br />
    human factors research, and industrial design.
  </p>
  <p>
    I've been designing beautiful,<br />
    fun, and truly personal <em>new computers</em>.
  </p>
  <p>
    I find joy in designing software and hardware<br />
    that gracefully extends the rich capabilities<br />
    of the human mind, body, and spirit.<br />
  </p>
  <p>~</p>

  <p>Email: <a href="mailto:edouard@urcad.es">edouard@urcad.es</a></p>
  <p>
    X: <a href="https://x.com/neogeomancer" target="_blank">@neogeomancer</a>
  </p>
  <p>
    Instagram: <a href="https://www.instagram.com/neogeomancer/" target="_blank"
      >@neogeomancer</a
    >
  </p>
  <p>Farcaster: <a href="https://warpcast.com/ed">@ed</a></p>
</Base>
<p>PGP: <a href="/writing/231114/">69CC...8B14</a></p>
<p>Bluesky: <a href="https://bsky.app/profile/urcad.es">@urcad.es</a></p>

<p>
  Are.na: <a href="https://www.are.na/edouard-urcades/sketching" target="_blank"
    >Édouard Urcades</a
  >
</p>
<p>
  Github: <a href="https://github.com/urcades" target="_blank">@urcades</a>
</p>
<p>
  Urbit: <a href="https://network.urbit.org/~fabled-faster" target="_blank"
    >~fabled-faster</a
  >
</p>
<p>
  Ethereum: <a
    href="https://etherscan.io/address/0x01AbAB5819CBb66f8586a1107CB073118Af21e20"
    target="_blank">0x01ab...1e20</a
  >
</p>
