---
import Base from '../layouts/Base.astro';
import Flower from '../components/Flower.astro';
import Box from '../components/Box.astro';
import Hammer from '../components/Hammer.astro';
import Smile from '../components/Smile.astro';
import Wind from '../components/Wind.astro';
const pageTitle = 'É. Urcades: About Me';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">
		I design beautiful <Flower/>, sturdy <Hammer/>,<br>
		graceful <Wind/>, useful <Box/>, and truly personal <Smile/><br>
		new mediums for computation.
	</p>
	<p class="pt-4">
		I’m a very optimistic digital product designer<br>
		with a background in materials science and industrial design.
	</p>
	<p class="pt-4">
		My resulting design practice is uniquely end-to-end <br>
		(in the truest sense) with a particular emphasis on the human body<br>
		and its placement alongside/within/without technology.<br>
		Some people call this ergonomics, but it's a little deeper than that.
	</p>
	<p class="pt-4">I know what the future holds.</p>
	<p class="pt-6">*</p>
	<p class="pt-4 italic">Email: <a href="mailto:ed@tlon.io">ed@tlon.io</a></p>
	<p class="pt-4 italic">X: <a href="https://x.com/yokelisms" target="_blank">@yokelisms</a></p>
	<p class="pt-4 italic">Github: <a href="https://github.com/urcades" target="_blank">@urcades</a></p>
	<p class="pt-4 italic">Urbit: <a href="https://network.urbit.org/~fabled-faster" target="_blank">~fabled-faster</a></p>
	<p class="pt-4 italic"><a href="/doc.pdf" target="_blank">doc.pdf</a></p>
</Base>