---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: About Me';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">
		I've been designing beautiful,<br class="hidden md:inline">
		fun, and truly personal <span class="italic">new computers</span>.
	</p>
	<p class="pt-4">
		I’m an optimistic digital product designer<br class="hidden md:inline">
		with a background in materials science,<br class="hidden md:inline"> 
		human factors research, and industrial design.
	</p>
	<p class="pt-4">
		I possess a unique melange of professional capabilities,<br class="hidden md:inline">
		I’ve experienced a wide range of operational contexts,<br class="hidden md:inline">
		I’m fluent in a variety of design procedures,<br class="hidden md:inline">
		and I have great taste in all things.<br class="hidden md:inline">
	<p>
	<!-- <p class="pt-4">
		I find joy in designing software and hardware that gracefully<br class="hidden md:inline">
		extends the capabilities of the human body.<br class="hidden md:inline">
	<p> -->

	<p class="pt-6">*</p>

	<p class="pt-4">Email: <a class="italic" href="mailto:ed@tlon.io">ed@tlon.io</a></p>
	<!-- <p class="pt-4">PGP: <a class="italic" href="/writing/231114/">69CC 7FC0 094A 9F50 524E  DE91 A0D9 9F73 7964 8B14</a></p> -->
	<p class="pt-4">X: <a class="italic" href="https://x.com/neogeomancer" target="_blank">@neogeomancer</a></p>
	<p class="pt-4">Instagram: <a class="italic" href="https://www.instagram.com/neogeomancer/" target="_blank">@neogeomancer</a></p>
	<p class="pt-4">Farcaster: <a class="italic" href="https://warpcast.com/ed">@ed</a></p></p>
	<p class="pt-4">Bluesky: <a class="italic" href="https://bsky.app/profile/urcad.es">@urcad.es</a></p></p>
	<p class="pt-4">Are.na: <a class="italic" href="https://www.are.na/edouard-urcades/sketching" target="_blank">Édouard Urcades</a></p>
	<p class="pt-4">Github: <a class="italic" href="https://github.com/urcades" target="_blank">@urcades</a></p>
	<p class="pt-4">Urbit: <a class="italic" href="https://network.urbit.org/~fabled-faster" target="_blank">~fabled-faster</a></p>
	<p class="pt-4">Ethereum: <a class="italic" href="https://etherscan.io/address/0x01AbAB5819CBb66f8586a1107CB073118Af21e20" target="_blank">0x01ab...1e20</a></p>
</Base>