---
import Base from "../layouts/Base.astro";
const pageTitle = "É. Urcades";
---

<Base pageTitle={pageTitle}>
  <p>
    Founding the <a href="https://flowercomputer.com"
      >Flower Computer Company.</a
    >
  </p>
  <p>I dream harder than you.</p>
  <p>~</p>
  <p><a href="/writing/">Writing</a></p>
  <p><a href="/work/">Recent Works</a></p>
  <p><a href="/about/">About Me</a></p>
</Base>
