---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades';
---

<Base pageTitle={pageTitle}>
	<p>Founding the <a href="https://floral.computer">Flower Computer Company</a></p>
	<p>Everybody deserves a new computer.</p>
	<p class="pt-6">~</p>
	<p><a href="/writing/">Writing</a></p>
	<p><a href="/work/">Recent Works</a></p>
	<p><a href="/about/">About Me</a></p>
</Base>
