---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">Design at <a href="https://tlon.io/" target="_blank">Tlon Corporation</a></p>
	<p class="pt-4">Everybody deserves a new computer.</p>
	<p class="pt-4"><a href="/writing/">Writing</a></p>
	<p class="pt-4 italic"><a href="mailto:ed@tlon.io">ed@tlon.io</a></p>
	<p class="pt-4 italic"><a href="https://network.urbit.org/~fabled-faster" target="_blank">~fabled-faster</a></p>
	<p class="pt-4 italic"><a href="/doc.pdf" target="_blank">doc.pdf</a></p>
</Base>