---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: Market';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">Item Shop: Sundries, Services, More</p>
	
	<p class="pt-4 pb-2 italic">Objects</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">

		<div class="flex flex-col gap-6 md:gap-2 size-fill">
			<div class="relative">
			  <img class="w-full h-auto" src="https://d2w9rnfcy7mm78.cloudfront.net/19953187/original_0ad3ba41d8cb2c62c4a0854b2406a13c.png" alt="Product Image" />
			  <div class="absolute inset-0 flex items-center justify-center">
				<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc" class="dark:bg-white inline-block py-1 px-6 rounded-md text-center">
				  <p class="text-black">Buy Now</p>
				  <p class="text-black text-sm">5.55 USD</p>
				</a>
			  </div>
			</div>
			<p class="">Master Levels of DOOM Tee</p>
			<div class="flex-grow"></div>
		  </div>

		  <div class="flex flex-col gap-6 md:gap-2 size-fill">
			<div class="relative">
			  <img class="w-full h-auto" src="https://d2w9rnfcy7mm78.cloudfront.net/26798935/original_5ff2d33ac3727d9d5019db9c77fd90bc.png" alt="Product Image" />
			  <div class="absolute inset-0 flex items-center justify-center">
				<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc" class="dark:bg-white inline-block py-1 px-6 rounded-md text-center">
				  <p class="text-black">Buy Now</p>
				  <p class="text-black text-sm">5.55 USD</p>
				</a>
			  </div>
			</div>
			<p class="">After Storage Tee</p>
			<div class="flex-grow"></div>
		  </div>
		
	</section>


	<p class="pt-4 xl:pt-16 pb-2 italic">Services</p>
	<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc" class="bg-white inline-block mt-4 py-1 px-6 rounded-md text-center">
		<p class="text-black">Subscribe Now</p>
		<p class="text-black text-sm">5.55 USD/mo</p>
	</a>
	

	<p class="pt-4 xl:pt-16 pb-2 italic">Onchain</p>
	<a href="https://zora.co/@0x01abab5819cbb66f8586a1107cb073118af21e20?personalize=true" class="bg-white inline-block mt-4 py-1 px-6 rounded-md text-center">
		<p class="text-black">Zora Mints</p>
		<p class="text-black text-sm">Misc. ETH</p>
	</a>
</Base>