---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: Market';
---

<Base pageTitle={pageTitle}>
	<p>Item Shop: Sundries, Services, More</p>
	
	<p>Objects</p>
	<section>

		<div>
			<div>
			  <img src="https://d2w9rnfcy7mm78.cloudfront.net/19953187/original_0ad3ba41d8cb2c62c4a0854b2406a13c.png" alt="Product Image" />
			  <div>
				<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc">
				  <p>Buy Now</p>
				  <p>5.55 USD</p>
				</a>
			  </div>
			</div>
			<p>Master Levels of DOOM Tee</p>
			<div></div>
		  </div>

		  <div>
			<div>
			  <img src="https://d2w9rnfcy7mm78.cloudfront.net/26798935/original_5ff2d33ac3727d9d5019db9c77fd90bc.png" alt="Product Image" />
			  <div>
				<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc">
				  <p>Buy Now</p>
				  <p>5.55 USD</p>
				</a>
			  </div>
			</div>
			<p>After Storage Tee</p>
			<div></div>
		  </div>
		
	</section>


	<p>Services</p>
	<a href="https://buy.stripe.com/aEU02yfgk27E2Vq3cc">
		<p>Subscribe Now</p>
		<p>5.55 USD/mo</p>
	</a>
	

	<p>Onchain</p>
	<a href="https://zora.co/@0x01abab5819cbb66f8586a1107cb073118af21e20?personalize=true">
		<p>Zora Mints</p>
		<p>Misc. ETH</p>
	</a>
</Base>