---
import Base from '../layouts/Base.astro';
const pageTitle = 'É. Urcades: Work';
---

<Base pageTitle={pageTitle}>
	<!-- <p class="pt-4"><a href="/recent-work.pdf" target="_blank">PDF (Large file: ~167 MB)</a></p> -->
	<p class="pt-4 pb-2 italic">2024</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25878627/original_c732003ccfc2de6b8eb03c0683288b50.png"/>
			<p class="">Tlon.app</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/24107584/original_9b782bab4052b8da82d611f5289fdee2.jpg"/>
			<p class="">Tlon.app</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/19953187/original_0ad3ba41d8cb2c62c4a0854b2406a13c.png"/>
			<p class="">"Within Genetics" Cover Art</p>
			<div class="flex-grow"></div>
		</div>
	</section>

	<p class="pt-4 pb-2 italic">2023</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/21591503/original_f6c5ff66d77c88147089af2d1403d4a0.png"/>
			<p class="">Landscape Clock Widget</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25878687/original_42b750230476ea6bf3712534df2473a4.png"/>
			<p class="">Tlon App Icon Iterations</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855845/original_085338369c9fc441b00acac9db1caf1d.png"/>
			<p class="">Landscape Channel Types</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855844/original_10c37b278f1478396c4c33c3b98a5550.png"/>
			<p class="">Tenori Sans</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/24635601/original_57162c58b68da9f4f414fed17d81c134.png"/>
			<p class="">T-Shirt Design</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2 col-span-3">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/22742520/original_02450a23090e8daab1bd9ac2e2c45122.png"/>
			<p class="">Landscape Desktop Client</p>
			<div class="flex-grow"></div>
		</div>
		<!-- <div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/24544108/original_0fe19a639da993c58c42730a428512fc.png"/>
			<p class="">T-Shirt Design</p>
			<div class="flex-grow"></div>
		</div> -->
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/24543682/original_f1e04d63e62d19f1cd69984f49631c41.png"/>
			<p class="">Presentation Placard</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/13308199/original_91b6ce211f21dab86912c5f159af8509.jpg"/>
			<p class="">Mobile App Icons</p>
			<div class="flex-grow"></div>			
		</div>	
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/24653325/original_f0b08cc8af7292297ec05091324f5709.jpg"/>
			<p class="">Interfaces for Billboards</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/16050759/original_439cdecbabee10a312007ade2b6463b0.png"/>
			<p class="">Landscape App Grid</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/21861756/original_257018b240386434bfef44255591a5bb.png"/>
			<p class="">Tlon.io (Mid 2023)</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/20909454/original_c6f94f852c238f482d59dee6957a8985.jpg"/>
			<p class="">Tlon.io (Early 2023)</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/16353380/original_0b34f8ceebe460adabcf3e2487f0ee71.png"/>
			<p class="">April Sans (Tlon Co. Custom Font/Logotype)</p>
			<div class="flex-grow"></div>
		</div>
	</section>

	<p class="pt-4 pb-2 italic">2022</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/16794261/original_a6468761fcd26bb8b3b266b01ec62dc8.png"/>
			<p class="">Tlon TV Event Poster</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/16530428/original_2fd98c0c78687ac7cad70bce6521cddb.png"/>
			<p class="">Dos Elementos Logomark System (In collaboration with Romina Malta)</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/19904725/original_c7769a69c5cc18ee652e5f0e84882fb4.png"/>
			<p class="">Tlon.io (Late 2022)</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2 col-span-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25878686/original_5b6db849d2ebe000e12d3dd1b27c9fd7.png"/>
			<p class="">Dos Elementos Logomark System (In collaboration with Romina Malta)</p>
			<div class="flex-grow"></div>
		</div>
	</section>

	<p class="pt-4 pb-2 italic">2021</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855840/original_870bde60f723eeab363a62c39cf953ca.png"/>
			<p class="">Decept Logo/Logotype</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25856488/original_737997d9c42fb45e5939e7db5e45dd4d.png"/>
			<p class="">Landscape, Mid 2021</p>
			<div class="flex-grow"></div>
		</div>
	</section>

	<p class="pt-4 pb-2 italic">2020</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">

	</section>

	<p class="pt-4 pb-2 italic">2019</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855843/original_2001420cf44d8b1ce7876f3e87effb69.png"/>
			<p class="">Fora Voting Interface</p>
			<div class="flex-grow"></div>
		</div>
	</section>

	<p class="pt-4 pb-2 italic">2018</p>
	<section class="pt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3">
		<div class="flex flex-col gap-2 col-span-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855842/original_a526deec50c195f9c0c8e61527747168.png"/>
			<p class="">Pilot</p>
			<div class="flex-grow"></div>
		</div>

		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855841/original_16650164102c9358c2526d1b1b7915b2.png"/>
			<p class="">Reverse Prompt Interfaces (Pilot Prompts You)</p>
			<div class="flex-grow"></div>
		</div>

		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855846/original_8edab005f82f8f927cf948dae60a299b.png"/>
			<p class="">Tumblr Post Editor</p>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col gap-2">
			<img src="https://d2w9rnfcy7mm78.cloudfront.net/25855847/original_53944f403a14cd0e7f881a255e851fc4.png"/>
			<p class="">Tumblr Timeline + Post Editor</p>
			<div class="flex-grow"></div>
		</div>
	</section>
</Base>