---
import Base from '../layouts/Base.astro';
const allPosts = await Astro.glob('../pages/writing/*.md');
const pageTitle = 'Writing';

function groupPostsByYear(posts) {
  const postsByYear = {};

  posts.forEach((post) => {
    const year = post.frontmatter.pubDate.slice(0, 4);

    if (!postsByYear[year]) {
      postsByYear[year] = [];
    }

    postsByYear[year].push(post);
  });

  return postsByYear;
}

const groupedPosts = groupPostsByYear(allPosts);
const sortedYears = Object.keys(groupedPosts).sort((a, b) => b - a); // Sort years in descending order
---

<Base>
  {sortedYears.map((year) => (
    <>
      <p class="italic pt-4">{year}</p>
      <ul class="pt-4">
        {groupedPosts[year].map((post) => (
          <li><a href={post.url}>{post.frontmatter.title}</a></li>
        ))}
      </ul>
    </>
  ))}
</Base>