---

---
<section class="flex items-center gap-3">
    <svg 
        class="w-6 h-6"
        viewBox="0 0 26 26" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
    <path 
        d="M11.6577 15.8973C11.6356 15.7289 11.1628 15.3451 11.0368 15.2201C10.7223 14.9082 10.4059 14.542 10.283 14.1196C10.1646 13.7129 10.0662 13.388 10.3273 13.0003C11.0436 11.9369 12.8123 11.0235 14.1213 11.4295C14.8664 11.6607 15.5907 12.1834 15.7374 12.9533C15.8439 13.5125 16.0272 14.5983 15.7177 15.1354C14.9321 16.4987 12.7774 16.4899 11.3916 16.4899" 
        class="stroke-neutral-900 dark:stroke-white"
        stroke-width="1.4" 
        stroke-linecap="round"
    />
    <path 
        d="M14.8504 10.3949C14.8875 9.72325 15.3531 9.08723 15.7521 8.56074C16.3736 7.74075 17.0407 7.04642 17.8708 6.42091C19.0148 5.55888 20.7539 5.15635 22.192 5.41919C23.2901 5.6199 23.3647 6.50302 23.3647 7.47437C23.3647 8.25149 23.4535 8.86519 22.7833 9.41668C22.0187 10.0458 21.0521 10.6 20.1275 10.9875C19.2273 11.3647 18.2985 11.7648 17.4027 12.1067C17.0826 12.229 16.8689 12.4982 16.5898 12.6758C16.4959 12.7355 16.813 12.6325 16.9149 12.5864C17.5184 12.3136 18.1523 12.1593 18.7972 12.0033C20.4299 11.6082 23.9219 10.7753 24.6556 12.8968C25.2101 14.5002 24.2762 16.2802 22.6552 16.9131C21.8305 17.2351 20.9723 17.421 20.0832 17.421C19.3042 17.421 18.4069 17.5335 17.6491 17.3317C17.1968 17.2112 16.6042 17.0656 16.2005 16.8285C15.9151 16.6609 15.7655 16.6028 16.1512 16.8849C17.0548 17.5457 17.8626 18.3167 18.1615 19.401C18.3921 20.2373 18.4609 21.4455 18.2157 22.2839C17.8257 23.6178 16.6606 24.7199 15.2052 24.9128C14.0496 25.066 12.7446 24.7656 12.1208 23.7512C11.7454 23.1408 11.6528 22.4276 11.5886 21.7383C11.5013 20.8009 11.4738 19.6809 11.8153 18.7943C11.8726 18.6455 12.0802 18.2389 12.0074 18.0653C11.9868 18.016 11.3195 18.5997 11.293 18.625C10.7868 19.1081 10.2906 19.594 9.7754 20.0688C8.77936 20.9867 7.79927 21.9398 6.46923 22.4061C5.49289 22.7485 4.36801 22.9235 3.33059 22.9235C2.38368 22.9235 1.8846 22.4424 1.74402 21.5032C1.44648 19.5152 2.89947 17.7161 4.65601 16.8285C5.37365 16.4659 6.16996 16.248 6.93732 16.0008C7.36889 15.8617 7.82721 15.6684 8.28738 15.6433C8.46437 15.6337 8.75444 15.5908 8.92792 15.5399C9.50235 15.3712 8.17114 15.2363 8.02131 15.2013C6.97011 14.9552 5.90835 14.8458 4.84325 14.6698C4.06245 14.5409 3.28149 14.4886 2.5718 14.1149C2.01407 13.8212 1.42622 13.3615 1.10348 12.831C0.720409 12.2013 0.827331 11.4359 0.837412 10.7335C0.85704 9.36585 2.16164 8.59204 3.45377 8.53723C4.25693 8.50316 5.15415 8.4387 5.89275 8.79119C6.66196 9.15828 7.42307 9.69151 8.11 10.1833C8.74588 10.6385 9.47818 11.3761 10.209 11.6835C10.652 11.8698 11.5511 12.4557 10.6327 11.8246C7.92663 9.96487 6.72403 6.23921 8.2184 3.32169C8.44677 2.87583 8.8048 2.15127 9.27282 1.8873C10.024 1.46365 10.8988 1.24065 11.7364 1.04077C12.7561 0.797471 13.2505 1.03863 13.9586 1.84967C14.7448 2.7501 15.0549 4.2457 15.2249 5.38157C15.3501 6.21807 15.2939 7.07718 15.2939 7.92115C15.2939 8.49621 15.3194 9.07796 15.2742 9.65182C15.2152 10.4005 14.9092 10.9929 14.5844 11.6647" 
        class="stroke-neutral-900 dark:stroke-white"
        stroke-width="1.4" 
        stroke-linecap="round"
    />
    </svg>
    <span>Édouard</span>
</section>