---
const pageTitle = 'É. Urcades';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="p-4 lg:p-12 text-xl antialiased dark:bg-neutral-400 dark:text-white">
		<p><a href="/">É. Urcades</a></p>
		<slot/>
	</body>
</html>

<style>
    body {
        font-family: serif;
    }
</style>