---
import Base from "./Base.astro";
const pageTitle = Astro.props.frontmatter.title;
const { frontmatter } = Astro.props;
---
<Base pageTitle={pageTitle}>
	<p class="pt-4"><a href="/writing/" >Back to All Writing</a></p>
	<h1 class="pt-4 italic">{frontmatter.title}</h1>
    <article class="pt-56 prose prose-xl dark:prose-invert prose-a:decoration-1 prose-a:underline-offset-[3px] prose-li:-ml-1.5 leading-7">
	    <slot/>
    </article>
	<p class="pt-6">*</p>
	<p class="pt-4"><a href="/writing/">Back to All Writing</a></p>
	<p><a href="https://urcades.substack.com/">Subscribe</a></p>
	<p><a href="/rss.xml">RSS</a></p>
</Base>